@model CRMS1.Core.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<script>
    $(document).ready(function () {
        //Alert Msg
        $('#success').fadeOut(3000);
    })
</script>


@if (@TempData["Password"] != null)
{
    <div id="success" class="alert alert-success">
        <strong>Success !</strong> @TempData["Password"]
    </div>
}
@if (@TempData["oldPassword"] != null)
{
    <div id="success" class="alert alert-danger">
        <strong>Success !</strong> @TempData["oldPassword"]
    </div>
}



<div class="section">
    <div class="container" style="background-color: white; box-shadow: rgba(0, 0, 0, 0.30) 5px 5px 15px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="formDiv">
                <div class="topTitleHead pb20">
                    <h1>Change Password</h1>
                </div>
                <div class="formSection">
                    <div class="inputBox">
                        <label>Current Password<strong class="textred">*</strong></label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Name", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="inputBox">
                        <label>New Password<strong class="textred">*</strong></label>
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { placeholder = "Code", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="inputBox">
                        <label>Confirm Password<strong class="textred">*</strong></label>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Code", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btnDiv" type="submit">Save</button>
                    </div>
                    <div class="col-md-2">
                        <a href="javascript: history.go(-1)" id="Cancel" class="btn btnCancel">Cancel</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
