@model CRMS1.Core.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<script>
    $(document).ready(function () {
        //Alert Msg
        $('#success').fadeOut(3000);
    })
</script>

<h2>ChangePassword</h2>

@if (@TempData["Password"] != null)
{
    <div id="success" class="alert alert-success">
        <strong>Success !</strong> @TempData["Password"]
    </div>
}
@if (@TempData["oldPassword"] != null)
{
    <div id="success" class="alert alert-danger">
        <strong>Success !</strong> @TempData["oldPassword"]
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btnDiv" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript: history.go(-1)" class="btn btn-warning">Go Back</a>
</div>
