@model IEnumerable<CRMS1.Core.ViewModels.TicketCommentViewModel>
<div class="section">
    <div class="" style="background-color: white; box-shadow: rgba(0, 0, 0, 0.30) 5px 5px 15px;">
        <table class="table">
            <tr>
                <th colspan="2" style="text-align:center;">
                    <label>Comments</label>
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                @Html.HiddenFor(modelItem => item.Id)
                <tr style="text-align:center">
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.UserName)</strong>
                            <small>  (<time class="timeago" datetime="">@item.CreatedOn</time>)</small>
                        <p id="@item.Id"> @item.Comment</p>
                    </td>
                    <td>
                        @if (Session["UserId"].ToString() == item.CreatedBy.ToString())
                        {
                            <a class="editbutton" onclick="Edit('@item.Id', '@item.Comment')"><img src="~/Content/image/edit.svg" /> |</a>
                            <a onclick="confirmDelete('@item.Id')"><img src="/Content/image/trash.svg" /></a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<style>
    .control-label {
        padding-right: 0px;
    }
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.min.js" 
        integrity="sha512-gdWUVos7+EJk5jtktjRAtVxZKOYcjnjq0ubOYKIQ4jRLN/7jP+Fq35OwPYJt9FpdDdZO6yyICf6SFbVv+OXl1w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function () {
        var dateVal;
        $(".timeago").each(function (i, item) {
            dateVal = moment($(item).html(), 'DD-MM-YYYY hh:mm:ss');
            $(item).attr('datetime', dateVal.toISOString());
        });
        $j("time.timeago").timeago();
    });
</script>

<script>
    function confirmDelete(data) {
        if (confirm("Are You Sure You Want To Delete?") == true) {
            $.ajax({
                url: '/Ticket/DeleteComment?id=' + data,
                data: { 'id': data },
                type: "post",
                success: function (res) {
                    if (res == "true") {
                        location.reload();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        }
    }
    function Edit(id, data) {
        $('.editbutton').hide();
        $('#' + id).html('<input id="inputtag" type="text" value="' + data + '" /> <a onclick="SaveEdit(\'' + id + '\')" class="btn btn-primary">Save</a> <a onclick="cancelEdit(\'' + id + '\',\'' + data + '\')" class="btn btn-danger">Cancel</a>');
    }
    function SaveEdit(id) {
        debugger;
        var data = $('#inputtag').val();
        var formdata = $('form').serializeArray();
        formdata.push({
            name: 'Id',
            value: id,
        });
        formdata[0].value = id;
        formdata[2].value = data;
        $.ajax({
            type: "POST",
            data: formdata,
            url: '/Ticket/EditComment/?model' + formdata,
            success: function (res) {
                if (res = "true") {
                    location.reload();
                }
            }
        })
    }
    function cancelEdit(id, data) {
        $('.editbutton').show();
        $('#' + id).html('<p>' + data + '</p>');
    }
</script>