@model IEnumerable<CRMS1.Core.ViewModels.TicketIndexViewModel>
@using CRMS1.Core.Models
@{
    ViewBag.Title = "Index";
}
<div class="section">
    <div class="container" style="background-color: white; box-shadow: rgba(0, 0, 0, 0.30) 5px 5px 15px;">
        <br />
        <h1>Ticket</h1>
        <br />
        @if (@TempData["Ticket"] != null)
        {
            <div id="success" class="alert alert-success">
                <strong>Success !</strong> @TempData["Ticket"]
            </div>
        }
        @if (CheckRolePermission.Insert)
        {
            <div class="btnDiv">
                <a class="btn" href="@Url.Action("Create", "Ticket")">+ Add New Ticket</a>
            </div>
        }
        <br />
        <div class="mb15">
            @(Html.Kendo().DropDownList()
        .Name("dropdownlist")
        .DataTextField("Name")
        .DataValueField("Name")
        .OptionLabel("Select Status")
        .HtmlAttributes(new { id = "selectedStatus" })
        .DataSource(source => {
            source.Read(read =>
            {
                read.Action("StatusFilter", "Ticket");
            });
        })
    )
        </div>
        @(
    Html.Kendo().Grid(Model).Name("TicketGrid")
        .Columns(columns =>
        {
            columns.Bound(expression: c => c.Title);
            columns.Bound(expression: c => c.AssignTo);
            columns.Bound(expression: c => c.Type).Width(150);
            columns.Bound(expression: c => c.Priority);
            columns.Bound(expression: c => c.Status);
            columns.Bound(expression: c => c.Description);
            columns.Bound(p => p.AttachmentCount).ClientTemplate("#if(AttachmentCount > 0) {#"
                    + "<center><a class='label' onclick='DownloadAttachment(\"#=Id#\")'>#=AttachmentCount#</a></center>"
                    + "#}#").Title("Attachments").Width(140);
            if (CheckRolePermission.Update || CheckRolePermission.Delete)
            {
                columns.Bound(p => p.Id).ClientTemplate(
                    "#if('" + CheckRolePermission.Update + "'=='True') {#"
                    + "<a href='" + Url.Action("Edit", "Ticket") + "/#=Id#'><img src=\"/Content/image/edit.svg\" width=\"19\"></img></a>"
                    + "#}#"
                    + " | <a href='" + Url.Action("Details", "Ticket") + "/#=Id#'><img src=\"/Content/image/eye.svg\" width=\"19\"></img></a>"
                    + "#if ('" + CheckRolePermission.Delete + "'=='True') {#"
                    + " | <a href='" + Url.Action("Delete", "Ticket") + "/#=Id#' onclick='return confirm(\"Are you sure you want to delete this item?\")'><img src=\"/Content/image/trash.svg\"></img></a>"
                    + "#}#"
                    ).Width(110).Title("Action").Filterable(false);
            }
        })
    .HtmlAttributes(new { Style = ""})
    .Sortable()
    .Scrollable(h=>h.Height("auto"))
    .Filterable()
    .Pageable(p=>p.Refresh(true).PageSizes(true))
    .DataSource(datasource => datasource.Ajax().Read(read => read.Action("TicketGrid", "Ticket"))
        .PageSize(10).Model(model => model.Id(expression:p => p.Id)))
    .ToolBar(toolbar =>
    {
    toolbar.Template(@<text>
                <div class="toolbar">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" id='FieldFilter' placeholder="Search for...">
                               @* <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                </span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </text>);
        })
    )
        <br />
    </div>
</div>


<script>
    $(document).ready(function () {
        //Alert Msg
        $('#success').fadeOut(3000);

        //Search
        $("#FieldFilter").keyup(function () {
            var value = $("#FieldFilter").val();
            grid = $("#TicketGrid").data("kendoGrid");
            if (value) {
                grid.dataSource.filter({ field: "Status", operator: "contains", value: value });
            } else {
                grid.dataSource.filter({});
            }
        });

        //Status method
        $("#selectedStatus").change(function () {
            var value = $("#selectedStatus").val();
            Dropdown = $("#TicketGrid").data("kendoGrid");
            if (value) {
                Dropdown.dataSource.filter({ field: "Status", operator: "contains", value: value });
            }
            else {
                Dropdown.dataSource.filter({});
            }
        });
    })


    function DownloadAttachment(Id) {
        $.ajax({
            url: '/Ticket/AttachmentList?TicketId=' + Id,
            type: "Get",
            data: { 'TicketId': Id },
            success: function (res) {
                $("#Attachment").html(res);
                $("#AttachmentModal").modal('show');
            }
        });
    }
</script>

<style>
    .btnDiv {
        width: 175px;
        position: absolute;
        right: 232px;
        top: 165px;
    }
    .label {
        background-color: #7ea700;
    }
</style>

<div id="Attachment">
    <div class="modal" id="AttachmentModal"></div>
</div>
