@model CRMS1.Core.ViewModels.RoomViewModel

@{
    ViewBag.Title = "Create";
}

<script>
    $(document).ready(function () {
        $('#already').fadeOut(3000);
    })
</script>

@if (@TempData["RoomAlert"] != null)
{
    <div id="already" class="alert alert-danger">
        <strong>Wrong !</strong> @TempData["RoomAlert"]
    </div>
}


<div class="section">
    <div class="container" style="background-color: white;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="formDiv">
                <div class="topTitleHead pb20">
                    <h1>Add Conference Room</h1>
                </div>
                <div class="formSection">
                    <div class="inputBox">
                        <label>Conference Room Name</label>
                        @Html.EditorFor(model => model.RoomName, new { htmlAttributes = new { placeholder = "Conference Room Name", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoomName, "", new { @class = "text-danger" })
                    </div>
                    <div class="inputBox">
                        <label>Capacity</label>
                        @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { placeholder = "Capacity", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btnDiv" type="submit">Create</button>
                    </div>
                    <div class="col-md-2">
                        <a href="javascript: history.go(-1)" id="Cancel" class="btn btnCancel">Cancel</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
