@model IEnumerable<CRMS1.Core.Models.ConferenceRoom>

@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<script>
    function myFunction(data) {

        var id = $(data).attr('id')
        if (confirm("Are You Sure You Want To Delete?") == true) {
            $.ajax({
                url: '@Url.Action("Delete","Room")',
                data: { 'id': id},
                type: "post",
                success: function (savingStatus) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        } else {

        }
    }
    $(document).ready(function () {
        $('#success').fadeOut(3000);
    })
</script>

<br />
<h2>Index</h2>
@if (@TempData["AlertMsg"] != null)
{
    <div id="success" class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMsg"]
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create", "Room" , new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Room", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                <button id="@item.Id" class="btn btn-danger" onClick="myFunction(this)">Delete</button>
                @*   @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
