
@if (@TempData["CMAlert"] != null)
{
    <div id="alert" class="alert alert-success">
        <strong>Success !</strong> @TempData["CMAlert"]
    </div>
}

@(
        Html.Kendo().Grid<CRMS1.Core.ViewModels.CommonLookupsViewModel>().Name("CommonLookupgrid")
    .Columns(columns =>
    {
        columns.Bound(expression: c => c.ConfigName);
        columns.Bound(expression: c => c.ConfigKey);
        columns.Bound(expression: c => c.ConfigValue);
        columns.Bound(expression: c => c.DisplayOrder);
        columns.Bound(expression: c => c.Description);
        columns.Bound(expression: c => c.IsActive);
        columns.Command(c =>
        {
            c.Custom("Edit").Click("editcommonlookup");
            c.Custom("Delete").Click("confirmDelete");
        }).Width(200).Title("Action");
    })
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .Sortable()
    .Scrollable(h=>h.Height("auto"))
    .Filterable()
    .Pageable(p=>p.Refresh(true).PageSizes(true))
    .DataSource(datasource => datasource
    .Ajax().Read(read => read.Action("CommonLookupGrid", "CommonLookUps"))
    .PageSize(5).Model(model => model.Id(expression:p => p.Id)))
    .ToolBar(toolbar =>
        {
            toolbar.Template(@<text>
                <div class="toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" id='FieldFilter' placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </text>);
        })
    )

<div id="createPopupModalForm">
    <div class="modal" id="addmodal"></div>
    <div class="modal" id="editmodal"></div>
</div>

<script>
    //Create Bootstrap Modal
    function createcommonlookup() {
        $.ajax({
                url: '@Url.Action("Create","CommonLookUps")',
                type: "Get",
                success: function (data) {
                    $("#createPopupModalForm").html(data);
                    $("#addmodal").modal('show');
                }
        });
    }
    //Edit Bootstrap Modal
    function editcommonlookup(e) {
        var selectedId = this.dataItem($(e.currentTarget).closest("tr")).Id;
        $.ajax({
            url: '@Url.Action("Edit","CommonLookUps")',
            type: "Get",
            data: { 'id': selectedId },
            success: function (data) {
                $("#createPopupModalForm").html(data);
                $("#editmodal").modal('show');
            }
        });
    }

    //Delete
    function confirmDelete(e) {
        var selectedId = this.dataItem($(e.currentTarget).closest("tr")).Id;
        if (confirm("Are You Sure You Want To Delete?") == true) {
            $.ajax({
                url: '@Url.Action("Delete","CommonLookUps")',
                data: { 'id': selectedId},
                type: "post",
                success: function (savingStatus) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        }
    }

    $(document).ready(function () {
        //Alert Msg
        $('#alert').fadeOut(3000);

        //Search
        $("#FieldFilter").keyup(function () {

            var value = $("#FieldFilter").val();
            grid = $("#CommonLookupgrid").data("kendoGrid");

            if (value) {
                grid.dataSource.filter({ field: "ConfigName", operator: "contains", value: value });
            }
            else {
                grid.dataSource.filter({});
            }
        });
    });
</script>