@model IEnumerable<CRMS1.Core.Models.CommonLookups>

@{
    ViewBag.Title = "Index";
}
<h2>CommonLookUp</h2>

<div>
    <button type="button" class="btn btn-sm btn-primary" onclick="createcommonlookup()">
        Create
    </button>
</div>
@if (@TempData["Alert"] != null)
{
    <div id="alert" class="alert alert-success">
        <strong>Success !</strong> @TempData["Alert"]
    </div>
}
<br />

<table class="table table-bordered">
    <tr class="btn-dark">
        <th>
            @Html.DisplayNameFor(model => model.ConfigName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <button id="@item.Id" type="button" class="btn btn-sm btn-warning" onclick="editcommonlookup(this)">Edit</button>
                <button id="@item.Id" class="btn btn-danger" onClick="myFunction(this)">Delete</button>
            </td>
        </tr>
    }

</table>

<div id="createPopupModalForm">
    <div class="modal" id="addmodal"></div>
    <div class="modal" id="editmodal"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<script>
    function myFunction(data) {

             var id = $(data).attr('id')
        if (confirm("Are You Sure You Want To Delete?") == true) {
            $.ajax({
                url: '@Url.Action("Delete", "CommonLookUps")',  
                data: { 'id': id},
                type: "post",
                success: function (savingStatus) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        } else {
        }
    }

    function createcommonlookup() {
        $.ajax({
            url: '@Url.Action("Create","CommonLookUps")',
            type: "Get",
            success: function (data) {
                $("#createPopupModalForm").html(data);
                $("#addmodal").modal('show');
            }
        });
    }

    function editcommonlookup(data) {

        var id = $(data).attr('id')
        $.ajax({
            url: '@Url.Action("Edit","CommonLookUps")',
            type: "Get",
            data: { 'id': id },
            success: function (data) {
                $("#createPopupModalForm").html(data);
                $("#editmodal").modal('show');
            }
        });
    }
    $(document).ready(function () {
        $('#alert').fadeOut(3000);
    })
</script>
