@model CRMS1.Core.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Edit";
}
<script>
    $(document).ready(function () {
        $('#already').fadeOut(3000);
    })
</script>

@if (@TempData["RoleAlert"] != null)
{
    <div id="already" class="alert alert-danger">
        <strong>Wrong !</strong> @TempData["RoleAlert"]
    </div>
}

<div class="section">
    <div class="container" style="background-color: white;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="formDiv">
                <div class="topTitleHead pb20">
                    <h1>Edit Role</h1>
                </div>
                <div class="formSection">
                    <div class="inputBox">
                        <label>Name</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Name", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="inputBox">
                        <label>Code</label>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { placeholder = "Code", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btnDiv" type="submit">Create</button>
                    </div>
                    <div class="col-md-2">
                        <a href="javascript: history.go(-1)" id="Cancel" class="btn btnCancel">Cancel</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
